
@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignar Rol a Usuario</h2>
@using (Html.BeginForm("AssignRole", "Admin", FormMethod.Post))
{

    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2">Usuario</label>
            <div class="col-md-10">

                @Html.DropDownList("Usuarios", new SelectList(ViewBag.lstUsiario, "Id", "UserName"), "- Seleccione Usuario -", new { @class = "form-control" })

            </div>
        </div>
      


        <div class="form-group">
            <label class="control-label col-md-2">Role</label>
            <div class="col-md-10">
              
            @Html.DropDownList("Roles", new SelectList(ViewBag.lstRoles, "Name", "Name"), "- Seleccione Rol -",new { @class = "form-control" })
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
