
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Role</h2>
@using (Html.BeginForm("CreateRole", "Admin", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-5">
            <label class="control-label">Nombre del Rol</label>
            <input type="text" name="RoleName" class="form-control" />
        </div>
        <br />
        
            <div class="col-md-5">
                <button type="submit" value="Submit" class="btn btn-primary">Guardar</button>
                @*<input type="submit" value="Submit" class="btn btn-primary" />*@
            </div>



    </div>


}

